<div>
    <nav class="navbar">
        <ul class="right-nav-list list-inline">
            <li>
                <a class="right-btn btn btn-sm btn-default-grey active" data-component="layout">
                    {{ 'right_on_layouts' | trans }}
                </a>
            </li>
            <li>
                <a class="right-btn btn btn-sm btn-default-grey" data-component="blocks">
                    {{ 'right_on_blocks' | trans }}
                </a>
            </li>
            <li>
                <a class="right-btn btn btn-sm btn-default-grey" data-component="workflow">
                    {{ 'right_on_workflow' | trans }}
                </a>
            </li>
            <li>
                <a class="right-btn btn btn-sm btn-default-grey" data-component="pages">
                    {{ 'right_on_pages' | trans }}
                </a>
            </li>
            <li>
                <a class="right-btn btn btn-sm btn-default-grey" data-component="bundles">
                    {{ 'right_on_bundles' | trans }}
                </a>
            </li>
            <li>
                <a class="right-btn btn btn-sm btn-default-grey" data-component="media">
                    {{ 'right_on_media' | trans }}
                </a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="main-container bb5-manage-rights"></div>
</div>